/* Global style */

* {
    margin: 0;
    padding: 0;
    border: none;
}

html {
    height: 100%;
}

body {
    font-family: 'Radio Canada', sans-serif;
    height: 100%;
}

/* Heading */

#pageHead {
    position: relative;
    height: 12.5%;
    width: 100%;
    background-color: rgba(73, 75, 35, 0.9);
}

/* Title Bar */

#titleBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #ff9e01;
}

.titleContainer {
    margin: 0 10px;
    text-align: center;
}

.titleContainer i {
    font-size: 3em;
}

#titleText {
    font-size: 1.25em;
    font-weight: 700;
    word-spacing: 2px;
}

/* Audio Controls */

#audioBar {
    position: absolute;
    top: 20px;
    right: 10px;
}

.audioContainer {
    display: flex;
    align-items: center;
    width: 125px;
    height: 40px;
}

.audioContainer h4 {
    font-size: 1em;
    color: #ff9e01;
    margin: 0 5px 0 5px;
}

/* Switch styling from W3schools guide */

.audioSwitch {
    position: absolute;
    right: 5px;
    width: 44px;
    height: 24px;
}

.audioSwitch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 34px;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    border-radius: 50%;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #c80000;
}

input:focus+.slider {
    box-shadow: 0 0 1px #c80000;
}

input:checked+.slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

/* Hero Image */

#heroImage {
    max-width: 100%;
    height: 80%;
    background-image: url(../images/history_background_desktop.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Quiz Game Containers */

.container {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px #79081c;
    border-radius: 15px;
}

.quiz {
    top: 75px;
    width: 60%;
    min-height: 550px;
    background-color: rgba(73,75,35,0.95);
}

.text {
    top: 50px;
    width: 80%;
    min-height: 300px;
    background-color: rgba(255, 112, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
}

.text p {
    font-size: 1.15em;
    border-radius: 15px;
    padding: 10px 15px;
    border: solid 1px #79081c;
    background-color: white;
}

.button {
    top: 60px;
    width: 80%;
    min-height: 110px;
    background-color: rgba(255, 112, 0, 0.75);
    display: flex;
    justify-content: center;
}

/* Buttons */

.btn {
    min-height: 90px;
    width: 200px;
    margin: 10px 5px;
    border: solid 1px #79081c;
    border-radius: 15px;
    font-weight: 700;
}

.btn p, .btn a {
    font-size: 1.25vw;
    text-decoration: none;
    color: black;
}

.btn:hover {
    color: #79081c;
    background-color: white;
}

.easy {
    background-color: rgb(140, 146, 28);
}

.medium {
    background-color: #ff9e01;
}

.hard {
    background-color: #c80000;
}

.option {
    background-color: white;
    height: fit-content;
}

/* Progress Bar */

.progress {
    top: 95px;
    width: 60%;
    height: 100px;
    border: none;
}

#progressBorder {
    width: 80%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    height: 40px;
    border: solid 2px #79081c;
    border-radius: 15px;
    background-color: rgba(73, 75, 35, 0.9);
}

#progressBar {
    width: 2%;
    height: 40px;
    background-color: #79081c;
    border-radius: 15px;
}

#progressText {
    display: block;
    margin: 10px auto;
    padding: 0 15px;
    width: fit-content;
    height: 30px;
    line-height: 30px;
    border: solid 1px #79081c;
    border-radius: 10px;
    background-color: white;
}

#progressText p {
    font-size: 1.25em;
}

/* Footer */

#pageFoot {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 100%;
    height: 7.5%;
    background-color: rgba(73, 75, 35, 0.9);
}

.linkSocial {
    margin: 0 15px;
    text-decoration: none;
    color: #ff9e01;
    font-size: 2.5em;
}

/* Media queries */

/*For screens 1100px or below */

@media screen and (max-width: 1100px) {

    #audioBar {
        top: 15px;
    }

    .quiz {
        top: 50px;
        min-height: 475px;
    }

    .text {
        top: 30px;
        min-height: 275px;
    }

    .progress {
        top: 75px;
    }
}

/* For screens 950px or below */

@media screen and (max-width: 950px) {

    #pageHead {
        height: 15%;
    }

    #titleBar {
        min-height: 85px;
    }

    .titleContainer i {
        font-size: 2em;
    }

    #titleText {
        font-size: 1em;
    }

    #audioBar {
        position: static;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .audioContainer {
        width: 115px;
    }

    .audioSwitch {
        position: relative;
        left: 5px;
        height: 28px;
        width: 48px;
    }

    .slider:before {
        height: 20px;
        width: 20px;
    }

    #heroImage {
        background-image: url(../images/history_background_mobile.jpeg);
        height: 77.5%;
    }

    .quiz {
        top: 50px;
        width: 80%;
        min-height: 450px
    }

    .text {
        top: 30px;
        min-height: 260px;
    }

    .button {
        top: 50px;
    }

    .btn p, .btn a {
        font-size: 1.5vw;
        text-decoration: none;
        color: black;
    }

    .progress {
        width: 80%;
    }

    #pageFoot {
        justify-content: center;
    }

}

/* For screens below 450 pixels */

@media screen and (max-width: 450px) {

    #pageHead {
        height: 150px;
    }

    #titleBar {
        height: 100px;
    }

    #titleText {
        margin-top: 15px;
        font-size: 0.85em;
    }

    #audioBar {
        height: 50px;
    }

    .audioContainer h4 {
        font-size: 0.75em;
    }

    .audioContainer {
        width: 100px;
    }

    .audioSwitch {
        position: relative;
        left: 5px;
        height: 20px;
        width: 40px;
    }

    .slider:before {
        height: 12px;
        width: 12px;
    }

    #heroImage {
        background-image: url(../images/history_background_mobile.jpeg);
    }

    .quiz {
        top: 30px;
        width: 90%;
    }

    .text {
        width: 90%;
    }

    .text p {
        margin: 0 2px;
    }

    .button {
        width: 90%;
    }

    .btn {
        min-height: 90px;
        width: 110px;
        margin: 10px 1px;
    }

    .btn p, .btn a {
        font-size: 2.5vw;
        text-decoration: none;
        color: black;
    }

    .progress {
        width: 100%;
    }

    #progressBorder {
        width: 90%;
    }

    #progressText p {
        font-size: 0.75em;
    }
}